{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "jsx-a11y/click-events-have-key-events": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "max-len": ["error", { "code": 80 }],
    "no-param-reassign": ["error", { "props": false }],
    "react/default-props-match-prop-types": ["error"],
    "react/forbid-prop-types": ["off"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-sort-props": ["error", { "ignoreCase": true }],
    "react/no-unused-prop-types": ["error"],
    "react/no-unused-state": ["error"],
    "react/require-default-props": ["error"],
    "react/sort-prop-types": ["error", { "ignoreCase": true }],
    "sort-keys": ["error", "asc", { "caseSensitive": false }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.base.js"
      }
    },
    "react": {
      "version": "16.13.1"
    }
  }
}
